@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-default;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 48px;

    &.btn--primary {
      @apply bg-primary text-primary-dark;

      &:hover, &:active {
        @apply bg-primary-light text-primary-dark;
      }
    }

    &.btn--secondary {
      @apply bg-primary-dark text-white;

      &:hover, &:active {
        @apply bg-primary-light text-primary-dark;
      }
    }
  }

  .text-field {
    @apply bg-primary-grayish-lighter rounded-default border-none
    focus:outline-none  focus:ring-0 focus:outline-success
    py-1.5 text-primary-dark placeholder-primary-grayish-dark/[35];
    padding-right: 18px;
    padding-left: 18px;
    font-size: 24px;
    height: 48px;

    // text-right block w-full py-2.5 text-gray-700 placeholder-gray-400/70 bg-primary-grayish-lighter
    // border border-gray-200 rounded-lg pl-5 pr-11 rtl:pr-5 rtl:pl-11 dark:bg-gray-900 dark:text-gray-300
    // dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300
    // focus:outline-none focus:ring focus:ring-opacity-40

    &[type="number"] {
      @apply text-right;
    }

    &.text-field--has-icon {
      @apply pl-10;
    }

    &.text-field--error {
      @apply outline-none outline-danger ;
    }


  }
}
